In [11]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
dataV1= pd.read_csv("/Users/Jade/Desktop/TrainingDatasetV1 (1).csv",encoding = "latin1")
dataV1.head()

/Users/Jade/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,11,13,30,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,Country of profile,...,DegreeType,EliteFlag,Dummy1,Dummy2,Dummy3,Dummy4,Layoff Date,Company Name,Employees Affected,laid_off
0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,10/23/2015,"Western Digital Technologies, Inc.",56,0
1,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,10/24/2016,"Western Digital Technologies, Inc.",59,0
2,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,6/17/2016,"Western Digital Technologies, Inc.",71,0
3,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,7/3/2016,"Western Digital Technologies, Inc.",337,0
4,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,United States,...,NaN,False,NaN,NaN,BBG000BWNFZ9,1497024570000,8/27/2018,"Western Digital Technologies, Inc.",79,0

In [12]:
# use one-hot encoding to encode skillsets
encodeSkill1 = pd.get_dummies(dataV1['Skillset1'], prefix = 's1', prefix_sep='-')
encodeSkill2 = pd.get_dummies(dataV1['Skillset2'], prefix = 's2', prefix_sep='-') 
dataV1 = dataV1.drop(['Skillset1','Skillset2'], axis = 1)
dataV1 = dataV1.join(encodeSkill1) 
dataV1 = dataV1.join(encodeSkill2)
dataV1.head()

,Unnamed: 0,ID,Birth Year,Gender Flag,Skillset1 Weight,Skillset2 Weight,City of profile,Country of profile,Education,Elite Institution,...,s2-Retail and Fashion,s2-Sales,s2-Sales Management,s2-Social Media and Communications,s2-Software Engineering,s2-Technical Product Management,s2-Video and Film Production,s2-Visual Design,s2-Web Design,s2-Web Development
0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
1,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
2,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
3,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0
4,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,False,...,0,0,0,0,1,0,0,0,0,0

In [13]:
dataV1.columns

Index(['Unnamed: 0', 'ID', 'Birth Year', 'Gender Flag', 'Skillset1 Weight',
       'Skillset2 Weight', 'City of profile', 'Country of profile',
       'Education', 'Elite Institution',
       ...
       's2-Retail and Fashion', 's2-Sales', 's2-Sales Management',
       's2-Social Media and Communications', 's2-Software Engineering',
       's2-Technical Product Management', 's2-Video and Film Production',
       's2-Visual Design', 's2-Web Design', 's2-Web Development'],
      dtype='object', length=130)

In [14]:
dataV1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136987 entries, 0 to 136986
Columns: 130 entries, Unnamed: 0 to s2-Web Development
dtypes: bool(5), float64(5), int64(5), object(21), uint8(94)
memory usage: 45.3+ MB

In [15]:
dataV1 = dataV1.dropna(subset=['laid_off'])
dataV1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136987 entries, 0 to 136986
Columns: 130 entries, Unnamed: 0 to s2-Web Development
dtypes: bool(5), float64(5), int64(5), object(21), uint8(94)
memory usage: 46.4+ MB

In [17]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
y = dataV1['laid_off']
X = dataV1.drop(['ID',
       'City of profile', 'Country of profile','Elite Institution',
       'Start Date', 'StartFlag', 'End Date',
       'EndFlag', 'CurrentEmployFlag', 'laid_off', 'Role', 'Dept', 'Company',
       'Company_Norm', 'Ticker', 'Exchange', 'PublicFlag','Location',
       'Industry', 'EducationFlag','DegreeType','EliteFlag','Layoff Date', 'Company Name','Dummy1','Dummy2','Dummy3','Dummy4'],axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=101)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
#logreg.score(X_test,y_test)

ValueError: could not convert string to float: 'None'